.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0rem auto 0rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.cover{
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../public/images/cover.jpg');
}

.backToHome {
  margin: 3rem 0 0;
}
